body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-image: url("/static/imgs/background.png");
    background-size: cover;
    background-position: center;
    color: #0b3c78;
    direction: rtl;
}

.page {
    max-width: 420px;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: right;
}

h1 {
    margin-top: 0;
    color: #0b3c78;
}

.subtitle {
    color: #355f8a;
    margin-bottom: 25px;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 12px;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #cfddee;
}

.add-phone {
    background: none;
    border: none;
    color: #1a73e8;
    cursor: pointer;
    text-align: right;
    margin-bottom: 15px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 12px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1558b0;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.1); /* light red */
    color: #b71c1c; /* dark red text */
    padding: 10px;
    border: 1px solid #f44336;
    border-radius: 6px;
    margin-bottom: 12px;
    text-align: right;
}





