{% extends "base.html" %}

{% block title %}תפריט מנהל{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
<body class="dashboard-page">
  <div class="page">
    <div class="card">

      <div class="header">
        <h2>תפריט מנהל</h2>
        <p>בחר פעולה להמשך</p>
      </div>

      <div class="actions" style="flex-direction: column;">
        <a href="/create-flight" style="width:100%; text-decoration:none;">
          <button class="btn btn-primary">
             יצירת טיסה ✈️
          </button>
        </a>

        <a href="/cancel-flight" style="width:100%; text-decoration:none;">
          <button class="btn btn-red">
             ביטול טיסה ❌
          </button>
        </a>

        <a href="/flights-board" style="width:100%; text-decoration:none;">
          <button class="btn btn-ghost">
            צפייה בלוח טיסות 📋
          </button>
        </a>

        <button class="btn btn-ghost" disabled>
           סטטיסטיקות ודוחות 📊
        </button>
      </div>

    </div>
  </div>
</body>
{% endblock %}